.wrapperTechTips {
    width: 200%;
    height: 100%;
    top:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-41%, 10%);
  }